{% extends 'base.html' %}

{% block title %}index page{% endblock %}

{% block content %}
<center><h1>List of All Products</h1></center>
<div class="row">
{% for product in products %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a type="button" class="btn btn-primary" href="/update/{{ product.id }}">update</a>
        <a type="button" class="btn btn-primary" href="/delete/{{ product.id }}">delete</a>
        <a type="button" class="btn btn-primary" href="{{ product.id }}">cart</a>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}